.Footer {
    margin-top: auto;
    padding: .3rem;
    text-align: left;
    border-top: 1px solid #444;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(255, 255, 255, 0.3);
    font-size: calc(10px + .75vmin);
}