.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .3rem .75rem;
  border-top: 1px solid #333;
  background-color: #1f2329;
  color: rgba(255, 255, 255, 0.3);
  font-size: 0.75rem;
  z-index: 1200;
}

.app-footer a {
  color: rgba(255, 255, 255, 0.3);
}
